<div class="emp-form">
    <form [formGroup]="employeeForm" (ngSubmit)="submit()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control">
            <ng-container *ngIf="employeeForm.get('name')?.errors && employeeForm.get('name')?.touched">
                <small *ngIf="employeeForm.get('name')?.errors?.required" class="text-danger">Please enter name</small>
                <small *ngIf="employeeForm.get('name')?.errors?.minlength" class="text-danger">Please enter atleast 4 chars</small>
            </ng-container>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="text" formControlName="phone" class="form-control">
            <ng-container *ngIf="employeeForm.get('phone')?.errors && employeeForm.get('phone')?.touched">
                <small *ngIf="employeeForm.get('phone')?.errors?.required" class="text-danger">Please enter phone number</small>
                <small *ngIf="employeeForm.get('phone')?.errors?.pattern" class="text-danger">Please enter valid phone number</small>
            </ng-container>
        </div>
        <div formGroupName="address">
            <div class="form-group">
                <label>City</label>
                <input type="text" formControlName="city" class="form-control">
            </div>
            <div class="form-group">
                <label>Address 1</label>
                <input type="text" formControlName="line1" class="form-control">
            </div>
            <div class="form-group">
                <label>Address 2</label>
                <input type="text" formControlName="line2" class="form-control">
            </div>
            <div class="form-group">
                <label>Postal Code</label>
                <input type="text" formControlName="postalCode" class="form-control">
            </div>
        </div>
        <button [disabled]="employeeForm.invalid" type="submit" class="btn btn-primary">Submit</button>
        <button routerLink="/" type="submit" class="ml-2 btn btn-warning">Cancel</button>
    </form>
</div>