<div class="container">
    <div *ngIf="isLoading">...loading</div>
    <div class="m-4 float-right">
        <button routerLink="add" class="btn btn-primary" type="button">Add Employee</button>
    </div>
    <div class="search m-4">
        <input placeholder="type employee name/city here" #search (keyup)="getEmployee(search.value.trim())" class="form-control" type="text">
    </div>
    <table *ngIf="!isLoading" class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">City</th>
                <th scope="col">Address 1</th>
                <th scope="col">Address 2</th>
                <th scope="col">Postal code</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees">
                <th scope="row">{{emp.id}}</th>
                <td>{{emp.name}}</td>
                <td>{{emp.phone || 'NA'}}</td>
                <td>{{emp.address.city}}</td>
                <td>{{emp.address.line1}}</td>
                <td>{{emp.address.line2}}</td>
                <td>{{emp.address.postalCode}}</td>
                <td> <button [routerLink]="emp._id + '/edit'" class="btn btn-primary" type="button">Edit</button> </td>
            </tr>

            <tr *ngIf="search.value && !employees.length">
                No match found
            </tr>
        </tbody>
    </table>
</div>